{% extends "navbar.html" %}sdfsdf{% load static %}

{% block content %}


<!-- Carrusel de imagenes -->
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active">
            
        <img src="{% static 'img\carrusel\descuento.jpg' %}">
        
        <div class="container">
          <div class="carousel-caption">
            <h1 style="font-size:550%;">15 % Dcto.</h1>
            <p> 
                🍦Por la compra de 6 paletas de helado para mascotas tienes un 15% dcto.<br>

                🍦Pocas unidades, no te quedas si las tuyas.<br>
                
                🍦Helados 100% naturales y con palito comestible.</p>
            <p><a class="btn btn-lg btn-primary" href="#info1">Informece sobre </a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'img\carrusel\gato-libro.jpg' %}">
        
        
  
        <div class="container">
          <div class="carousel-caption">
            <h1>Produtos de calidad</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#info2">info calidad</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'img\carrusel\gato.jpg' %}">
        <div class="container">
          <div class="carousel-caption">
            <h1>Horarios Disponibles</h1>
            <p>Trabajamos 24/7</p>
            <p><a class="btn btn-lg btn-primary" href="#info3">info despachos</a></p>
          </div>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>






  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Servicios</h1>
        <p class="lead text-muted">Contamos con una gran variedad de deliciosos productos para enviarles a tus colaboradores de empresa, ya sea para desayuno, almuerzos o bien catering para reuniones.
          Que el teletrabajo no sea un impedimento para estar más cerca. Cotiza con nosotros productos especiales para enviar para cumpleaños o instancias especiales.</p>
        <p>
          <a href="formulario.html" class="btn btn-primary my-2">Realize un pedido</a>
          <a href="productos.html" class="btn btn-secondary my-2">Vea Nuestros productos</a>
        </p>
      </div>
    </div>
  </section>


    {{ a }}
    {{ b }}



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
async function getIpClient() {
  try {
    const response = await axios.get('https://api.ipify.org?format=json');
    console.log(response);
  } catch (error) {
    console.error(error);
  }
}

getIpClient();
</script>
    
{% endblock %}