{% extends "navbar.html" %}formulario de contacto{% load static %}
{% block content  %}

<!-- para la autentificacion -->
{% if perms.app.view_contacto %} 


<link rel="stylesheet" href="{% static 'css/tablas/tablaMantenedor.css' %}">


<section class="ftco-section" style="margin-top:200px ;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Mantenedor Contacto </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-borderless">
                      <thead class="thead-primary" >
                        <tr>
                          <th>codigo</th>
                          <th>rut</th>
                          <th>Nombre</th>
                          <th>apellido paterno</th>
                          <th>apellido materno</th>
                          <th>email</th>
                          <th>n° telefono</th>
                          <th>asunto</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for i in contactos %}
                        <tr>
                            <th scope="row">{{ i.codigo }}</th>
                            <td>{{ i.run }}-{{ i.dv }}</td>
                            <td>{{ i.nombres }}</td>
                            <td>{{ i.apellido_paterno }}</td>
                            <td>{{ i.apellido_materno }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.telefono }}</td>
                            <td>{{ i.asunto }}</td>
                           
                          
                          {% if perms.app.change_contacto %}
                          <td>                           
                            <img class="iconoTabla" src="{% static 'img/iconos-tabla/boton-editar.png' %}"
                                data-bs-toggle="modal" 
                                data-bs-target="#modal-actualizar-{{i.codigo}}"
                              >

                              <!-- modal para actualizar datos del usuario -->
                              <div id="modal-actualizar-{{i.codigo}}" class="modal" tabindex="-1" >
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Actualizar datos del Contacto</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">                            
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      
                                        <!-- formulario -->
                                        <form class="row g-3 needs-validation" novalidate method="POST" action="" >{% csrf_token %}

     
                                          <div class="col-md-4">
                                              <label for="validationCustom01" class="form-label">Rut</label>
                                              <input type="text" name="rut" value="{{ i.run }}-{{ i.dv }}" id="rut" maxlength="13" minlength="11" class="form-control" required oninput="checkRut(this)"  placeholder="Rut  ej: 11111111-1" id="txt_rut">
                                              <div class="valid-feedback">
                                                valido
                                              </div>
                                          </div>

                                         
                                      
                                          <div class="col-md-4">
                                            <label for="validationCustom01" class="form-label">Nombre</label>
                                            <input type="text" name="nombres"  class="form-control" id="validationCustom01" value="{{ i.nombres }}" required>
                                            <div class="valid-feedback">
                                              Looks good!
                                            </div>
                                          </div>
                                          <div class="col-md-4">
                                            <label for="validationCustom02" class="form-label">apellido paterno</label>
                                            <input type="text" name="apellido_paterno" class="form-control" id="validationCustom02" value="{{ i.apellido_paterno }}" required>
                                            <div class="valid-feedback">
                                              Looks good!
                                            </div>
                                          </div>
                                      
                                          <div class="col-md-4">
                                              <label for="validationCustom02" class="form-label">apellido materno</label>
                                              <input type="text" name="apellido_materno" class="form-control" id="validationCustom02" value="{{ i.apellido_materno }}" required>
                                              <div class="valid-feedback">
                                                Looks good!
                                              </div>
                                            </div>
                                      
                                      
                                           
                                          <div class="col-md-4">
                                            <label for="validationCustomUsername" class="form-label">email</label>
                                            <div class="input-group has-validation">
                                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                                              <input type="email" name="email" class="form-control" id="validationCustomUsername"  value="{{ i.email }}" aria-describedby="inputGroupPrepend" required>
                                              <div class="invalid-feedback">
                                                Please choose a username.
                                              </div>
                                            </div>
                                          </div>
                                      
                                          <div class="col-md-4">
                                              <label for="validationCustom02" class="form-label">telefono</label>
                                              <input type="text" name="telefono" class="form-control" id="validationCustom02" value=" {{ i.telefono }}" required>
                                              <div class="valid-feedback">
                                                Looks good!
                                              </div>
                                            </div>
                                      
                                           <div class="col-md-4">
                                              <label for="validationCustom02" class="form-label">asunto</label>
                                              <input type="text" name="asunto" class="form-control" id="validationCustom02" value="{{ i.asunto }}" required>
                                              <div class="valid-feedback">
                                                Looks good!
                                              </div>
                                          </div>
                                      
                                      
                                          <div class="col-12">
                                            <input type="hidden" name="codigo" value="{{ i.codigo }}">
                                            <button class="btn btn-primary" type="submit">Submit form</button>
                                          </div>
                                      
                                        </form>
                                        <!-- fin formulario -->
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- fin del modal actualizar -->
                          </td>
                          {% endif %}
                          {% if perms.app.delete_contacto %}
                          <td>
                            <img class="iconoTabla" src="{% static 'img/iconos-tabla/eliminar.png' %}"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-eliminar-{{ i.codigo }}"
                                >
                                <!-- modal para eliminar usuario -->
                                <div id="modal-eliminar-{{ i.codigo }}" class="modal" tabindex="-1" >
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Eliminar Contacto</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">                            
                                        </button>
                                      </div>
                                      <!--contenido modal-->
                                      <div class="modal-body">
                                        
                                        <p>desea eliminar el contacto 
                                          <strong style="color:red;font-size:30px;"> {{ i.nombres }}
                                            
                                          </strong>
                                          <br> ¿Desea Continuar?.
                                        </p>

                                      </div>
                                      <!-- fin contenido modal -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <form method="GET" action="">
                                          <input name="codigo" value="{{ i.codigo }}" type="hidden" />
                                          <button type="submit" class="btn btn-primary">Aceptar</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- fin del modal eliminar usuario-->

                          </td>
                        </tr>
                        {% endif %}
                        

                        
                       {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- codigo js para validar campos y rut -->

<script src="{% static 'js\validar-rut.js' %}"></script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

{% endif %}
{% endblock %}