.iconoTienda{
    width:90px;
    background-color: rgb(255, 255, 255);
    border-radius:40% 60% 29% 71% / 71% 61% 39% 29%;
    box-shadow:  16px 16px 32px #cacaca,-16px -16px 32px #f6f6f6;
    object-fit:cover;
}


.iconoTienda:hover {
   
    /* duracion de la animacion entre menos dure mas vibrara*/
    animation: shake .6s;
  
    /* para que despues de que termina la anomacion se vuelva a realizar usar infinite */
    animation-iteration-count: infinite;
  }
    
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
