{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} asdsda {%  endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.min.css' %}">

    <!-- barra de navegacion responsiva sin bootstrap-->
    <link rel="stylesheet" href="{% static 'css\Navbar\navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'js\Navbar\navbar.js' %}"></script>

    <!-- estilos general de navbar -->
    <link rel="stylesheet" href="{% static 'css/navbar/styles.css' %">

    <!-- animacion icono navbar -->
    <link rel="stylesheet" href="{% static 'css/navbar/iconoTienda/icono.css' %}">

    <!-- icono agregar uausrio -->
    <link rel="stylesheet" href="{% static 'css/navbar/iconosNavbar.css' %}">

    <!-- carrusel de imagenes -->
    <link rel="stylesheet" href="{% static 'css/navbar/carrusel/imagenesCarrusel.css' %}">
    

</head>

<!-- barra de navegacion -->
<header>
  <nav class="navbar navbar-expand-md navbar-ligth fixed-top bg-ligth" id="barraNavegacion" style="background-color: rgb(255, 255, 255);">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">

        <!-- icono tienda -->
        <img class="iconoTienda" src="{% static 'img\icono\colitta-pets.jpg' %}">
        <strong></strong>
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item" data-bs-toggle="tooltip" data-bs-html="true" title=" inicio ">
            <a class="nav-link active" aria-current="page" href="/" >
              <strong>
                               
               
                <img class="iconoNavbar" src="{% static '\img\icono\home.png' %}">
                
                <br>
                <p>Home</p>
              </strong>
            </a>
          </li>
          
          <li class="nav-item" data-bs-toggle="tooltip" data-bs-html="true" title=" inicio ">
            <a class="nav-link" href="/productos">
              <strong>
               <img class="iconoNavbar" src="{% static '\img\icono\alimentos-para-mascotas.png' %}" width="1">
                

                <br>
                <p>Productos</p>
            </strong>
            </a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="/contacto" data-bs-toggle="tooltip" data-bs-html="true">
              <strong>
                <img class="iconoNavbar" src="{% static '\img\icono\contacto.png' %}">
                <br>
                <p>  contacto</p>
            </strong>
            </a>
          </li>


          <li class="nav-item">
            
            <a class="nav-link" href="/login">
                <strong>
                    <img class="iconoNavbar" src="{% static '\img\icono\agregar-usuario.png' %}">
                   
                    <p>crear<br>usuario</p>
                </strong>
            </a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" href="/contacto" >
              <button class="btn btn-outline-success" id="hacerPedido" style="color:black;position:relative; left:0%;"> hacer Pedido! </button>
            </a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="/mantenedor-contacto">
              <strong>
                <img class="iconoNavbar" src="{% static '\img\icono\correo-de-contacto.png' %}">
                <br>
                <p>mantenedor <br> contacto</p>
            </strong>
              
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/usuarios">
                <strong>
                    <img class="iconoNavbar" src="{% static '\img\icono\cliente.png' %}">
                    <br>
                    <p>Mantenedor<br>Usuario</p>
                </strong>
            </a>
          </li>


          <li class="nav-item" >
            <a class="nav-link" href="/logout" >
              <button class="btn btn-outline-success" id="cerrarSeccion">cerrar seccion</button>
            </a>
          </li>

          {% else %}



          <li class="nav-item" >
            <a class="nav-link" href="/loginAdmin" >
              <button class="btn btn-outline-success" id="inicarSeccion"> inicio seccion</button>
            </a>
          </li>

          {% endif %}

         

        </ul>
      </div>
    </div>
  </nav>
  </header>



 
<!--FIN barra de navegacion -->

</header>
    
      {% block content %}{%  endblock %}
      


    </script>
    
    <script src="{% static 'bootstrap\js\bootstrap.min.js' %}"></script>
</body>
</html>